# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GraphicsAcademyReport.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive\01_GraphicsAcademy2022\GraphicsAcademyReport\.idea\.idea.GraphicsAcademyReport\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
